.App {
  text-align: center;
}

.timer-container {
  text-align: center;
  margin-top: 50px;
}

.timer {
  font-size: 3rem;
  margin-bottom: 20px;
}

.btn-container {
  margin-bottom: 20px;
}

.btn {
  font-size: 1rem;
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn.active {
  background-color: #ff5e5b;
  color: white;
}

.laps-list {
  list-style-type: none;
  padding: 0;
}

.laps-list li {
  font-size: 1.2rem;
  margin-bottom: 5px;
}